.wrapper .main-container{
    width: calc(100% - 250px);
    margin-top: 50px;
    margin-left: 250px;
    transition: 0.3s;
    background: red;
}

.wrapper.collapse .main-container{
    width: calc(100% - 70px);
    margin-left: 70px;
}